:root {
    --color1: #134074;
    --color2: #B8C0FF;
    --color3: #BBD0FF;
}


.fav-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    font-size: 42px;
    padding: 0 0 0 5vw;
}

.nav {
    font-size: 28px;
    justify-content:space-between;
}
/* index.html header start */
.index-header {
    height: 100vh;
    background-size:contain; background-repeat: no-repeat; background-position:center;
}

#quote {
    width: 50%;
}

.index-header nav ul {
    text-decoration: none;
}

.index-header nav ul li {
    margin: 2px 10px;
}

.index-header nav ul li a {
    color: var(--color1);
}
/* index.html header end */

/* index.html search section start */
#search {
    height: 100vh;
}
/* index.html search section end */

/* meditation.html header styling start */
.meditation-nav a {
    margin: 2px 10px;
}
/* meditation.html header styling end */

/* meditation.html main styling start */
#meditation-area {
    height: 90vh;
}
.quote {
    width: 50%;
}
/* meditation.html main styling end */
